@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


body {
    font-family: 'lato';
}

/* cabeçalho */
header {
    width: 100%;
    height: 8rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    color: #f1f1f1;
    background-color: #310d2d;
}
header > figure {
    width: 7rem;
    height: 7rem;
}
header > figure > img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
header > h1 {
    font-size: 3rem;
    font-weight: bold;
}